<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center" fxLayout.gt-md="row">
            <div class="h2 mb-24">View Encounter</div>
            <button class="close_btn" title="Close" (click)="closePopup()">
                <mat-icon class="s-30 ml-4">close</mat-icon>
            </button>
        </div>

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

            <div class="simple-table-container" ms-responsive-table>
                <div class=" table-title">
                    General Information
                </div>

                <table class="simple">

                    <thead>
                        <tr>
                            <th> Dr. Name </th>
                            <th> Visit Date </th>
                            <th> Reason To Visit </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <span class="p-4"> {{appointment_info.name}} </span> </td>
                            <td> <span class="p-4"> {{appointment_info.Date}} </span> </td>
                            <td> <span class="p-4"> {{appointment_info.reasontovisit}} </span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- / Front -->

        <!--
        <div id="about" class="p-24" fxLayout="row" fxLayoutWrap>

            <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

                <div class="profile-box info-box general" fxLayout="column">

                    <header class="mat-accent-bg">
                        <div class="title">General Information</div>
                    </header>

                    <div class="content">

                        <div class="info-line">
                            <div class="title">Locations</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span> location </span>
                                <mat-icon class="s-16 ml-4">location_on</mat-icon>
                            </div>
                        </div>

                        <div class="info-line">
                            <div class="title">Dr. Name</div>
                            <div class="info"> About </div>
                        </div>

                        <div class="info-line">
                            <div class="title">Visit Date</div>
                            <div class="info"> About </div>
                        </div>

                        <div class="info-line">
                            <div class="title">Reason To Visit</div>
                            <div class="info"> Skin disorders </div>
                        </div>
                    </div>

                </div>

            </div>

        </div> -->

    </div>
    <!-- / CONTENT -->

</div>